<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/LOTORTO_RICCARDO_EsercizioPandasMedaglie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. caricare il file

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
medaglie = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Medals.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
medaglie

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

2. visualizzare il totale delle medaglie delle ultime 10 nazioni

In [5]:
medaglie.tail(10)[["Total"]]

    Total
83      4
84      2
85      1
86      1
87      1
88      1
89      1
90      1
91      1
92      1

3. visualizzare la nazione (o le nazioni) che ha vinto, in totale, almeno 40 medaglie

In [6]:
medaglie[medaglie["Total"] >= 40][["Team/NOC"]]

                     Team/NOC
0    United States of America
1  People's Republic of China
2                       Japan
3               Great Britain
4                         ROC
5                   Australia
9                       Italy

4.  visualizzare le nazioni che hanno vinto un numero totale di medaglie compreso tra 30 e 50

In [7]:
medaglie[(medaglie["Total"] >= 30) & (medaglie["Total"] <= 50)][["Team/NOC"]]

      Team/NOC
5    Australia
6  Netherlands
7       France
8      Germany
9        Italy

5. visualizzare il numero di nazioni che non hanno vinto medaglie d'oro ma hanno vinto almeno 3 medaglie d'argento

In [8]:
medaglie[(medaglie["Gold"] == 0) & (medaglie["Silver"] >= 3)][["Team/NOC"]]

              Team/NOC
65            Colombia
66          Azerbaijan
67  Dominican Republic

6.  visualizzare il numero totale complessivo di medaglie assegnate

In [9]:
medaglie["Total"].sum()

1080

7. visualizzare la nazione che ha vinto lo stesso numero di medaglie d'oro, d'argento e di bronzo

In [14]:
medaglie[(medaglie["Gold"] == medaglie["Silver"]) & (medaglie["Bronze"] == medaglie["Silver"]) & (medaglie["Bronze"] == medaglie["Gold"])][["Team/NOC"]]

Empty DataFrame
Columns: [Team/NOC]
Index: []

8.  visualizzare le nazioni che non hanno vinto medaglie d'argento

In [15]:
medaglie[medaglie["Silver"] == 0][["Team/NOC"]]

                Team/NOC
31            Uzbekistan
38               Ireland
39                Israel
40                 Qatar
41               Bahamas
42                Kosovo
58               Estonia
59                  Fiji
60                Latvia
61              Thailand
62               Bermuda
63               Morocco
64           Puerto Rico
82            Kazakhstan
83                Mexico
84               Finland
85              Botswana
86          Burkina Faso
87         CÃ´te d'Ivoire
88                 Ghana
89               Grenada
90                Kuwait
91   Republic of Moldova
92  Syrian Arab Republic

9. visualizzare le nazioni che hanno vinto un numero di medaglie d'argento superiore alla media

In [16]:
medaglie[medaglie["Silver"] > medaglie["Silver"].mean()][["Team/NOC"]]

                      Team/NOC
0     United States of America
1   People's Republic of China
2                        Japan
3                Great Britain
4                          ROC
5                    Australia
6                  Netherlands
7                       France
8                      Germany
9                        Italy
10                      Canada
11                      Brazil
12                 New Zealand
14                     Hungary
15           Republic of Korea
16                      Poland
17              Czech Republic
18                       Kenya
21                       Spain
22                      Sweden
23                 Switzerland
24                     Denmark
32                     Georgia
33              Chinese Taipei
43                     Ukraine
65                    Colombia